.swiperContainer {
  height: 70px;
  width: 100%;
  border: 2px solid black;
  margin: 10px 25px;
}
@media (min-width: 1024px) {
  .swiperContainer {
    width: 20%;
  }
}

.slideWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.slide {
  font-family: arial;
  font-size: 30px;
}
